:root {
    --cor-fundo-pagina: #0b1220;
    --cor-texto-principal: #ffffff;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo-pagina);
}
.container-pagina{
    width: min(1100px, 90%);
    margin: 0 auto;
}
.container-form{
    margin: 0 auto;
}
input{
    width:30%;
    padding:10px;
    border-radius: 20px;
    background-color: transparent;
    border-color: black;
    color: white;
}
button{
    padding:10px;
    border-radius: 20px;
    background-color: green;
    color:black;
}
.subtitulo-form{
    color:gray;
    font-size:12px;
}
.cabecalho-principal{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #0f0045 0%, #111827 60%);
    padding: clamp(2rem, 5vw, 5rem) 0;
 }
.cabecalho-principal__titulo{
    font-size: 18pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}
.cabecalho-principal_subtitulo{
    font-size: 14pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}